doctype html
html(lang='en')
  include ../common/head.pug
  +head("Leads")
  body
    header
      include ../common/navbar.pug
      +navbar()
      div.container
        div.row.align-items-center
          div.col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            table.table
              thead
                tr
                  th(scope="col") Date
                  th(scope="col") Name
                  th(scope="col") Amount
                tr
              tbody
              if bills
                for bill in bills
                  tr(id=bill.id)
                    td
                      span #{bill.date}
                    td
                      span #{bill.name}
                    td
                      span #{bill.amount}
          div.col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h COUCOU
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')